@charset "UTF-8";

@font-face {
	font-family: "Cardo Regular";
	src: url("../borrowed/media/cardo/cardo-regular.eot");
	src: url("../borrowed/media/cardo/cardo-regular.eot?#iefix") format("embedded-opentype"),
	url("../borrowed/media/cardo/cardo-regular.woff2") format("woff2"),
	url("../borrowed/media/cardo/cardo-regular.woff") format("woff"),
	url("../borrowed/media/cardo/cardo-regular.ttf") format("truetype"),
	url("../borrowed/media/cardo/cardo-regular.svg#cardoregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cinzel Regular";
	src: url("../borrowed/media/cinzel/cinzel-regular.eot");
	src: url("../borrowed/media/cinzel/cinzel-regular.eot?#iefix") format("embedded-opentype"),
	url("../borrowed/media/cinzel/cinzel-regular.woff2") format("woff2"),
	url("../borrowed/media/cinzel/cinzel-regular.woff") format("woff"),
	url("../borrowed/media/cinzel/cinzel-regular.ttf") format("truetype"),
	url("../borrowed/media/cinzel/cinzel-regular.svg#cinzelregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media all {
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	body {
		font-family: "Cardo Regular", serif;
		line-height: 1.3em;
		text-rendering: optimizeLegibility;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Cinzel Regular", serif;
	}

	/*
	 * the game's rendering canvas.
	 * For some reason, `display: block;` prevents unnecessary scroll bars here.
	 */
	#canvas {
		display: block;
		margin: 0;
		padding: 0;
	}

	/* styles for canvas fallback content */
	#canvas h1,
	#canvas figure,
	#canvas p {
		max-width: 650px;
		margin: 1em auto;
	}

	/* block for loading game assets in HTML, which are then handled in JS. */
	#assets {
		display: none;
	}
}

@media (max-width: 10in) {
	body {
		font-size: ;
	}
}

@media (min-width: 10.01in) {
	body {
		font-size: ;
	}
}

@media (min-width: 16in) {
	body {
		font-size: ;
	}
}

@media (min-width: 24in) {
	body {
		font-size: ;
	}
}
